<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<title>Super Cool Link Shortener</title>
		<link rel="stylesheet" href="static/css/default.css">
	</head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	 		$('#submit').click(function(){ 

	 			$('#errors').empty();
	            var long_link = $('#long-link').val();
	            var short_link = $('#short-link').val();

	            var empty_error = "<p>You must submit a short link and a long link.</p>"
	            var url_error = "<p>Long link must be a valid URL</p>"
	            var text_error = "<p>Short Links can only be characters a-z</p>"

	            if (short_link == '' || long_link == ''){
	            	$('#errors').append(empty_error).fadeIn();
	            } else if (validateURL(long_link) == false) {
	            	$('#errors').append(url_error).fadeIn();
	            } else if (validateText(short_link) == false) {
	            	$('#errors').append(url_error).fadeIn();
	            } else {
	            	$('#link-shortener').submit();
	            }
	            return false;
            }); 

	 		//validateURL
            function validateURL(textval) { 
			  var urlregex = new RegExp(
			        "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
			  return urlregex.test(textval);
			}

			//validateText 
            function validateText (textval) { 
			  var textregex = /[A-Za-z]/;
			  return textregex.test(textval);
			}

			//touch start
			document.getElementById("col1").addEventListener('touchstart', function(event) {
			  $(this).toggleClass('active');
			}, false); 
			document.getElementById("col2").addEventListener('touchstart', function(event) {
			  $(this).toggleClass('active');
			}, false); 
			document.getElementById("col3").addEventListener('touchstart', function(event) {
			  $(this).toggleClass('active');
			}, false); 
		});
	</script>
	<body>
		<div id="pagewrap">
			<div id="header">
				<h1>Super Cool Link Shortener</h1>
				<hr class="soften">
			</div>
			<form id="link-shortener" action="http://people.ischool.berkeley.edu/~hintzemichael/server/create" method="POST">
				<div id="errors"></div>
				<div id="col1">
					<input name="long-link" id="long-link" type="text" placeholder="www.apple.com">
				</div>
				<div id="col2">
					<input name="short-link" id="short-link" type="text" placeholder="Apple"> 
				</div>
				<div id="col3">
					<button name="submit" id="submit" type="submit" class="btn primary submit">Submit</button>
				</div>
			</form> 
		</div>
	</body>
</html>
